*{
	padding: 0;
	margin: 0;
	font-family: 'Catamaran', sans-serif;
	font-weight: 200;
	color: #47494B;
}



a{
	text-decoration: none;
}


.flex-container {
	display:-webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin: 1em 0;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}

.flex1{
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.flex2{
	-webkit-flex: 2;
	-ms-flex: 2;
	flex: 2;
}

.flex3{
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 3;
}

.flex4{
	-webkit-flex: 4;
	-ms-flex: 4;
	flex: 4;

}

.flex5{
	-webkit-flex: 5;
	-ms-flex: 5;
	flex: 5;
}



/* ########### HEADER ######################################## */
header{
	width: 100%;
	margin: 0 !important;
	position: fixed;
	height: 90px;
	top: 0;
	background-color: #CCD3D7;
	z-index: 10000;
	-webkit-box-shadow: 0 2px 2px -1px #000000;
   -moz-box-shadow: 0 2px 2px -1px #000000;
        box-shadow: 0 2px 2px -1px #000000;
}

.logo{
	display: inline;
	position: absolute;
	top: 0px;
	left: 15px;
}

nav{
	position: absolute;
	right: 0px;
	top:30px;
}

nav ul li{
	display: inline-block;
	margin-right: 30px;
	font-size: 20px;
	letter-spacing: 0.1em;
	-moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -webkit-transition: all .8s ease-in;
    transition: all .5s ease-in;
}

nav ul li:hover {
  color: white;
  cursor: pointer;
  color: #ADB2B8;
  
}

nav ul li input{
	background-color: #5F6265;
}



/* ########### ABOUT SECTION ######################################## */
#about{
	padding-top: 70px;
}

.about{
	
	background-color: #cdd7e7;
	margin: 0 2px 0 0;
	
}

.about-pict{	
	background-color: #cdd7e7;
	margin: 0 0 0 2px;
	padding-top: 55px;
}

h1{
	text-align: center;
	font-size: 1.8em;
}

.texts{
	width: 42%;
	float: left;
	padding: 55px 2% 3% 3%;
}

.images{
	width: 49%;
	float: right;	
	padding: 80px 3% 3% 0;
}

/* ########### PLANNING SECTION ######################################## */

#planning{
	margin: 0;
	padding: 35px 0 0 0;
}

.planning{
	background-color: #f1eddb;
	margin: 0 2px 0 0;
}

.planning-pict{
	background-color: #f1eddb;
	margin: 0 0 0 2px;
	padding-top: 55px;
}



/* ########### FUNDING SECTION ######################################## */
#funding {
	margin: 0;
	padding: 35px 0 0 0;
}

.funding{
	background-color: #b5e2e4;
	margin: 0 2px 0 0;
}

.funding-pict{
	background-color: #b5e2e4;
	margin: 0 0 0 2px;
	padding-top: 55px;
}


/* ########### FACTS SECTION ######################################## */
#facts {
	margin: 0;
	padding: 35px 0 0 0;
}

.facts{	
	background-color: #D8E0EC;
}

.facts h2{
	text-align: center;
	font-size: 3em;
	margin-top: 10px;
	padding: 45px 0 35px 0;
}


ul.facts-list li{
	display: inline-block;
	width: 50%;
	font-size: 1.7em;
	float: left;
	text-align: center;
	padding: 10px 0 10px 0;
}

ul.facts-list{
	padding-bottom: 50px;
	overflow: auto;
}

i.fa{
	font-size: 0.4em;
	vertical-align: middle;
	padding: 0px 5px 3px 5px;
}

i.fa.fa-hand-o-right{
	font-size: 30px;
}

.facts h3{
	display: table;
	text-align: center;
	font-size: 2.5em;
	margin: 0px auto 50px auto;
	color: #45608a;
}

/* ########### TENANTS SECTION ######################################## */
.tenants{
	background-color: #F5F3F2;
	margin: 0 2px 0 0;
	padding-top: 50px;
}

.tenants-wrapper{
	width: 100%;
}

.tenants-wrapper h1{
	padding-bottom: 15px;
}

.tenants-wrapper>input{
	background-color: #DAD4E1;
	width: 35%; 
}

table{
	width: 100%;
}

th{
	background-color: #BFB9C4;
	font-weight: 400;
}

td{
	background-color: #DAD4E1;
	text-align: center;
}

h4{
	font-size: 1.5em;
}

.search {
	margin-top: 10px;
	font-size: 1.2rem;
}

/* ########### BOOKING SECTION ######################################## */
#booking{
	margin: 0;
	padding: 35px 0 0 0;
}

.booking{
	background-color: #F5F3F2;
	margin: 0 0 0 2px;
	padding-top: 50px;
}

.booking-wrapper h1{
	padding-bottom: 15px;
}

.booking-form{
	padding: 7px;
	margin-top: 3px;
}

input.date, input.people, input.floor, input.children, input.phone, input.email{
	float: right;
	width: 36%;
	background-color: #DAD4E1;
}

select.restaurants{
	float: right;
	width: 38%;
}

button.submit{
	float: right;
	width: 37%;
	height: 22px;
	margin-top: 20px;
}

/* ########### iFRAMES ######################################## */

.movie{
	background-color: #D8D6D6;
	margin: 0 2px 0 0;
}

.map{
	background-color: #D8D6D6;
	margin: 0 0 0 2px;
}

footer{
	height: 50px;
	background-color: #93C8D8;
	margin: 0;
	padding-top: 0;
}

.link{
	text-decoration: none;
	font-weight: 400;
}
