*{
	padding: 0;
	margin: 0;
	font-family: 'Catamaran', sans-serif;
	font-weight: 200;
	color: #47494B;
}

a{
	text-decoration: none;
}



body {
	
	margin: 0 auto;
	padding: 2%;
}



.flex-container {
	display:-webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin: 1em 0;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}

.flex1{
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.flex2{
	-webkit-flex: 2;
	-ms-flex: 2;
	flex: 2;
}

.flex3{
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 3;
}

.flex4{
	-webkit-flex: 4;
	-ms-flex: 4;
	flex: 4;

}

.flex5{
	-webkit-flex: 5;
	-ms-flex: 5;
	flex: 5;
}


/* ########### ABOUT SECTION ######################################## */
h1{
	text-align: center;
	font-size: 1.8em;
}

.about{
	
	background-color: #cdd7e7;
	margin: 0 2px 0 0;
}

.about-pict{
	
	background-color: #cdd7e7;
	margin: 0 0 0 2px;
}

.texts{
	width: 42%;
	float: left;
	padding: 25px 2% 3% 3%;
}

.images{
	width: 49%;
	float: right;	
	padding: 80px 3% 3% 0;
}

/* ########### PLANNING SECTION ######################################## */
.planning{
	background-color: #f1eddb;
	margin: 0 2px 0 0;
}

.planning-pict{
	background-color: #f1eddb;
	margin: 0 0 0 2px;
}



/* ########### FUNDING SECTION ######################################## */
.funding{
	background-color: #b5e2e4;
	margin: 0 2px 0 0;
}

.funding-pict{
	background-color: #b5e2e4;
	margin: 0 0 0 2px;
}


/* ########### FACTS SECTION ######################################## */
.facts{
	
	background-color: #D8E0EC;
}

.facts h2{
	text-align: center;
	font-size: 3em;
	margin-top: 10px;
}


ul.facts-list li{
	display: inline-block;
	width: 50%;
	font-size: 1.7em;
	float: left;
	text-align: center;
	padding: 10px 0 10px 0;
}

ul.facts-list{
	padding-bottom: 50px;
	overflow: auto;
}

i.fa{
	font-size: 0.4em;
	vertical-align: middle;
	padding: 0px 5px 3px 5px;
}

i.fa.fa-hand-o-right{
	font-size: 30px;
}

.facts h3{
	display: table;
	text-align: center;
	font-size: 2.5em;
	margin: 0px auto 50px auto;
	color: #45608a;
}

/* ########### TENANTS SECTION ######################################## */
.tenants{
	background-color: #F5F3F2;
	margin: 0 2px 0 0;
}

.tenants-wrapper{
	width: 100%;
}

.tenants-wrapper>input{
	background-color: #DAD4E1;
	width: 35%; 
}

table{
	width: 100%;
}

th{
	background-color: #BFB9C4;
	font-weight: 400;
}

td{
	background-color: #DAD4E1;
	text-align: center;
}

h4{
	font-size: 1.5em;
}

.search {
	margin-top: 10px;
}

/* ########### BOOKING SECTION ######################################## */

.booking{
	background-color: #F5F3F2;
	margin: 0 0 0 2px;
}



.booking-form{
	padding: 7px;
	margin-top: 3px;
}

input.date, input.people, input.floor, input.children, input.phone, input.email{
	float: right;
	width: 36%;
	background-color: #DAD4E1;
}

select.restaurants{
	float: right;
	width: 38%;
}

button.submit{
	float: right;
	width: 38%;
	margin-top: 20px;
}

